meta(charset="utf-8")
title  DRAG AND DROP FILE UPLOAD
meta(name="description" content="FILE UPLOAD")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
link(rel="stylesheet", href="style.css")

