main#main-wrap.wrapper
	.drop_wrap 
		.drop-form
			label.label(for="file")
			input.box__file#file(type="file" name="files[]" accept="image/jpeg, image/gif, image/png, application/pdf" multiple)
		.drop_thumbnails_wrap
		.attention Allowed only file types: “jpg”, “jpeg”, “png”, “gif”, “pdf”

                               
	

